<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948254162789-ivdobbf0rumhj1mh8ob7r5p770e269u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948254162789-ivdobbf0rumhj1mh8ob7r5p770e269u0</string>
	<key>API_KEY</key>
	<string>AIzaSyBuV3xyBtMtdliVwYK3-L6gcAR1Crg9hOw</string>
	<key>GCM_SENDER_ID</key>
	<string>948254162789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truecounter.trueCounter</string>
	<key>PROJECT_ID</key>
	<string>true-counter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>true-counter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948254162789:ios:d9ff41ad71609812ceeb8c</string>
</dict>
</plist>